@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import "./variables.css";
@import "./loader.css";

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--heading-font);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}

::-webkit-scrollbar {
    display: none;
}

body {
    color: var(--text-base-color);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: var(--white);
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    object-fit: cover;
    object-position: center;
}

/* Header-Start */
#header {
    display: flex;
}

.header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 40;
    transition: all ease-in 200ms;
}

.header-bg {
    background: var(--white);
    color: var(--text-base-color);
    padding: 10px 0px;
    transition: all ease-in 200ms;
}

.header-bg.scroll {
    padding: 0;
    margin: 0;
}

.header .container,
.footer .container,
.header-content .container,
.footer .footr-bootm .container {
    width: 1150px;
    margin: 0 auto;
    display: flex;
}

.header .container h3 {
    display: inline-block;
    width: 400px;
    color: var(--text-base-color);
    font-family: var(--heading-font);
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 24px;
    line-height: 16px;
    transform: translateY(11px);
}

.header-bg.scroll .container h3 {
    font-size: 25px;
    margin-top: 30px;
    transform: translateY(-10px);
}

.header .container h3 img {
    width: 65px;
    height: 65px;
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: -15px;
    transition: all ease 200ms;
}

.header-bg.scroll .container h3 img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-top: -8px;
}

.header .container h3 span {
    display: block;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 8.5px;
    padding-top: 10px;
    color: var(--text-base-color);
    transition: all ease 200ms;
}

.header-bg.scroll .container h3 span {
    font-size: 9px;
    padding-top: 5px;
    letter-spacing: 8.5px;
}

.header nav {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
}



.header nav a {
    color: var(--text-base-color);
    display: block;
    width: auto;
    display: inline-block;
    position: relative;
    font-weight: 600;
    line-height: 25px;
    padding: 0 15px;
    overflow: hidden;
}

.header nav ul li a span {
    position: relative;
    display: inline-block;
    font-weight: 900;
    transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}

.header nav ul li a span::before {
    content: attr(data-hover);
    font-weight: 600;
    color: var(--brand-color);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;

    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translateY(0, 0, 0);
}

.header nav ul li a:hover span {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
}

.header nav ul li a:hover {
    color: var(--brand-color);
    text-decoration: none;
}

.header nav ul li {
    display: inline-block;
    position: relative;
    transform: translateY(10px);
}

.header nav ul ul,
.header nav ul ul ul {
    width: 250px;
    height: 320px;
    padding: 10px;
    background: var(--white);
    border-radius: 4px;
    display: block;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 80px);
    box-shadow: 0px 0px 30px rgb(127 137 161 / 10%);
    transition: 0.3s;
}

.header nav ul ul ul {
    width: 260px;
    height: auto;
    left: -269px;
}

.header-bg.scroll nav ul ul {
    top: calc(100% + 10px);
}

.header nav ul li:hover > ul {
    visibility: visible;
    top: 220%;
    transition: 0.3s;
}

.header nav ul ul li:hover > ul {
    visibility: visible;
}

.header-bg.scroll nav ul li:hover > ul {
    top: 158%;
}

.header nav ul ul li {
    font-size: 14px;
    line-height: 31px;
    border-radius: 8px;
    display: flex;
    align-items: left;
    text-align: left;
    position: relative;
}

.header nav ul ul li a {
    text-decoration: none;
    color: var(--text-base-color);
    padding: 6px 4px;
}

.header nav ul li i {
    font-size: 12px;
}

.margin {
    margin-left: 99px;
}

.margin-1 {
    margin-left: 156px;
}

.margin-2 {
    margin-left: 80px;
}

.margin-3 {
    margin-left: 29px;
}

/* Header-End */

/* home-page-start */
#home {
    display: flex;
}

canvas {
    left: 45px;
    width: 1260px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 30;
}

.header-content {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: 25vh;
    z-index: 30;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}

.header-content .container {
    display: flex;
    height: 25vh;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
    background-color: var(--box-black-bg);
}

.header-content .container h1 {
    font-size: 50px;
    color: var(--white);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}

.header-content .container h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: var(--white);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}

.text {
    position: absolute;
    width: 800px;
    inset: 0;
    margin: auto;
    height: 40px;
}

.text p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.text .word {
    position: absolute;
    width: 480px;
    opacity: 0;
}

.text .letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.text .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.text .letter.behind {
    transform: rotateX(-90deg);
}

.text .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.text .red {
    color: rgb(219, 122, 122);
}

.text .wisteria {
    color: #8e44ad;
    margin-right: 5px;
}

.text .belize {
    color: #2980b9;
}

.text .pomegranate {
    color: var(--brand-color);
}

.text .green {
    color: #16a085;
}

.text .midnight {
    color: #2c3e50;
}

/* home-page-end */

/* slider-page-start */
#slide-show-1 {
    width: 100vw;
    height: auto;
}

#slider-page {
    width: 100vw;
    height: 100vh;
    margin-bottom: 20px;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 15;
}

#slider-page .container-1 {
    width: 100%;
    margin: auto;
    position: relative;
}

#slider-page .slider {
    background: rgba(0, 0, 0, 0.8);
    transition: all ease-in 200ms;
    animation-delay: 200ms;
}

#slider-page .slider img {
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    object-fit: cover;
}

.numbertext {
    position: absolute;
    font-size: 12px;
    color: var(--white);
    padding: 8px 12px;
    left: 5px;
    top: 90px;
    z-index: 45;
}

.caption-text {
    position: absolute;
    font-size: 12px;
    color: var(--text-base-color);
    padding: 8px 12px;
    width: 100%;
    bottom: 20px;
    text-align: center;
    z-index: 2;
}

#slider-page a {
    text-decoration: none;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    color: var(--brand-color);
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
}

.prev {
    left: 0;
    border-radius: 0 4px 4px 0;
}

.next {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.prev:hover,
.next:hover {
    background: var(--brand-color);
    color: #f2f2f2;
}

.dot-sect {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 55;
}

.dot-sect .dot {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: rgb(22, 22, 22);
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

#slider-page .dot-sect span:nth-child(1),
.dot:hover {
    background: var(--brand-color);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    form {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

/* slider-page-end */

/* Banner-start */
#banner{
        height: 540px;
}

.banner-about-us {
    width: 100%;
    height: 540px;
    background-image: url(../images/sliders/1-general.jpeg);
    background-size: cover;
}

/* Banner-End */


/* about-start */
#about {
    background: var(--footer-bg);
    height: 540px;
    padding-top: 60px;
}

.clients .container,
#about .container {
    width: 1150px;
    height: auto;
    margin: 0 auto;
}

.row-1 {
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    height: auto;
    margin: 0 auto;
}

.row-1 .content {
    width: 570px;
    z-index: 2;
}

.row-1 .content h3 {
    font-family: var(--heading-font);
    color: var(--white);
    font-size: 32px;
    margin-bottom: 12px;
}

.row-1 .content p {
    font-family: var(--font-base);
    color: var(--white);
    line-height: 20px;
    padding-right: 20px;
    text-align: justify;
}

.row-1 .img-box {
    width: 530px;
    display: flex;
    padding-left: 20px;
    z-index: 3;
}

.row-1 .img-box .about-img {
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;
}

.row-1 .img-box .about-img span img {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: -20px;
    opacity: 0.4;
}

/* about-end */

/* about-boxes-section-start */
#about-box {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    padding-top: 110px;
}

.about-box {
    width: 380px;
    height: 570px;
    padding-top: 50px;
    margin-right: 0px;
    margin-bottom: 60px;
    position: relative;
    transition: all ease-in 200ms;
    z-index: 10;
}

.about-box .about-box-img,
.about-box .about-content {
    padding: 20px;
}


.about-box .about-box-img img {
    background: no-repeat;
    width: 335px;
    height: 188px;
    position: relative;
    object-fit: cover;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    transition: all ease-in 200ms;
}


.inner-img {
    transition: 0.3s;
}

.inner-img:hover {
    transform: scale(1.1);
}

.about-box .about-small-box {
    background: var(--white);
}

.about-box .about-small-box img {
    width: 65px;
    height: 65px;
    border: 6px solid var(--white);
    position: absolute;
    left: 150px;
    top: 225px;
    transition: all ease-in 200ms;
    z-index: 12;
}

.about-box .about-content {
    width: 335px;
    height: 265px;
    align-items: center;
    font-family: var(--heading-font);
    background: var(--white);
    transform: translateY(-30px);
    margin-left: 20px;
    z-index: 1;
}

.about-box .about-content h5 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--heading-font);
    color: var(--text-base-color);
}

.about-box .about-content h5 a {
    text-decoration: none;
    display: block;
}

.about-box .about-content h5 a:hover {
    color: var(--brand-color);
}

.about-box .about-content p {
    line-height: 24px;
    text-align: justify;
}

.about-box:hover .about-small-box img {
    border: 6px solid var(--brand-color);
    transition: all ease-in 200ms;
    z-index: 5;
}



/* about-boxes-section-end */

/* ##Client-presento-section-start */
#clients {
    /* background-image: url(../images/home-page-slider/slider-6.png); */
    opacity: 1;
}

.padding-top {
    padding-top: 90px;
}

.clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--white);
    opacity: 1;
    border: 1px solid var(--brand-color);
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--brand-color);
}

.clients .swiper-slide {
    height: auto;
}

.clients .swiper-slide img {
    background: var(--white);
    /* opacity: 0.5; */
    transition: 0.3s;
    filter: grayscale(100);
    height: 100px;
}

.clients .swiper-slide img:hover {
    opacity: 1;
    filter: none;
}

/* .img-fluid{
    height: 50px;
} */

/* .swiper-slide .swiper-slide-prev,
.swiper-slide .swiper-slide-next {
    width: 100%;
    height: 50px;
} */

/* ##Client-presento-section-end */

/*--------------------------------------------------------------
# Testimonials-Start
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 30px 15px;
    min-height: 200px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    position: relative;
    background: #fff;
    border-radius: 15px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 10px;
    border: 6px solid #fff;
    float: left;
    margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #fceaea;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-size: 12px;
    /* font-style: italic; */
    text-align: justify;
    font-weight: 400;
    color: var(--text-base-color);
    margin: 30px auto 15px auto;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #e03a3c;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #e03a3c;
}

/* Testimonials-End */

/* contact-section-start */
#pre-contact-bg-img{
    background-size: cover;
    background-image: url(../images/contact-img-3.png);
    backdrop-filter: blur;
    position: relative;
}

.text-white{
    color: var(--white);
}

#contact {
    
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.locations {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: 3px solid var(--text-base-color);
    background: var(--brand-color);
    position: absolute;
}

.locations-1 {
    right: 246px;
    top: 430px;
}

.locations-2 {
    right: 120px;
    top: 340px;
}

.locations-3 {
    top: 578px;
    right: 319px;
}

.locations-4 {
    right: 570px;
    bottom: 730px;
}

.locations-5 {
    left: 167px;
    top: 365px;
}

.locations-6 {
    right: 310px;
    top: 255px;
}

.locations-7 {
    left: 260px;
    bottom: 651px;
}

.margin-top {
    margin-top: -50px;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.no-margin {
    margin-top: 50px;
}

.margin-bottom {
    margin-bottom: 750px;
}

.contact-section .contact-sect-title {
    padding-bottom: 25px;
    position: relative;
}

.contact-section .contact-sect-title h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.contact-section .contact-sect-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background: var(--brand-color);
    bottom: 0;
    left: 0;
}

.contact-section .contact-sect-title p {
    text-align: left;
    line-height: 20px;
}

.contact-col {
    width: 570px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.contact-col .our-add {
    width: 510px;
    height: 230px;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 5px;
    background: var(--white);
    opacity: 0.9;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}

.contact-col .our-add p {
    line-height: 12px;
}

.contact-col .our-add i,
.contact-col .email-us i,
.contact-col .call-us i {
    width: 52px;
    height: 52px;
    padding: 8px;
    border-radius: 50%;
    margin-bottom: 5px;
    font-size: 32px;
    margin: 0 auto;
    border: 2px dotted #f8d4d5;
    color: var(--brand-color);
}

.bi {
    font-family: boxicons !important;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-transform: none;
    text-rendering: auto;
}

.bi-geo-alt-fill,
.bi-envelope,
.bi-telephone-forward,
.contact-col .our-add h3,
.contact-col .our-add p,
.contact-col .email-us h3,
.contact-col .call-us h3,
.contact-col .email-us p,
.contact-col .call-us p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-col .our-add h3,
.contact-col .email-us h3,
.contact-col .call-us h3 {
    font-size: 28px;
    margin-top: 5px !important;
}

.email-us,
.call-us {
    width: 255px;
    height: 230px;
    padding: 20px;
    background: var(--white);
    opacity: 0.9;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}

.email-us {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.call-us {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form {
    width: 500px;
    height: 380px;
    border-radius: 4px;
    padding: 40px 0px;
    background: var(--white);
    opacity: 0.9;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group input,
.form-group button {
    padding: 10px 15px;
    /* border: 1px solid var(--text-base-color); */
    margin-bottom: 15px;
}

.form-group button {
    margin-top: 15px;
    margin-bottom: 0;
    background: var(--brand-color);
    color: var(--white);
    display: block;
    margin-left: 190px;
}

.form-group input:nth-child(1) {
    margin-right: 15px;
}

.subject input {
    width: 100%;
}

.message textarea {
    width: 100%;
    padding: 10px 15px;
    /* border: 1px solid var(--text-base-color); */
}

/* contact-section-end */

/* food-boxes-section-start */
#food-box {
    background: var(--white);
    padding-top: 110px;
}

.food-box {
    width: 380px;
    /* height: 460px; */
    padding-top: 40px;
    margin-right: 3px;
    position: relative;
}

.food-box .food-box-img,
.food-box .food-content {
    padding: 20px;
    padding-bottom: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.food-box .food-box-img img {
    background: no-repeat;
    width: 335px;
    height: 300px;
    border: 1px solid var(--border-color);
    position: relative;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0px 2px 15px rgb(0 0 0 / 40%);
    z-index: 1;
}

.food-box .food-box-img:hover,
.food-box .food-box-img:focus {
    transform: translateY(-20px);
}

.food-box .food-box-img:hover .food-content,
.food-box .food-box-img:focus .food-content {
    transform: translateY(-20px);
}

.food-box .food-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.food-box .food-content ul li {
    display: block;
    font-weight: bold;
    list-style: none;
    position: relative;
}

.food-box .food-content a {
    display: block;
    padding: 10px;
}

.food-box .food-content ul li a {
    text-decoration: none;
}

.food-box .food-content ul ul {
    display: none;
    position: absolute;
    top: -99px;
    left: 0;
    height: 100px;
    overflow: scroll;
    z-index: 2;
}

.food-box .food-content ul ul li {
    width: 250px;
    background: var(--brand-color);
    margin-bottom: 1px;
}

/* 
.food-box .food-content ul li:hover>ul {
    display: block;
    font-family: var(--font-base);
    font-weight: lighter;
} */

.food-box .food-content ul ul li a {
    color: var(--white);
    display: block;
    font-family: var(--font-base);
    font-weight: lighter;
}

.food-box .food-content ul ul li a:hover {
    font-family: var(--font-base);
    font-weight: lighter;
    background: #e6c87b;
    color: var(--text-base-color);
}

.mrgin-btm {
    margin-bottom: 50px;
}

/* food-boxes-section-end */

#download {
    margin: 0;
}

/*------ section-footer-start ------*/

.pre-footer {
    background: url(../images/footer-bg-1.png);
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.footer {
    width: 100%;
    height: auto;
    padding-top: 40px;
    color: var(--footer-button-color);
    background: rgba(14, 14, 14, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.footer .footr-column-1,
.footer .footr-column-2,
.footer .footr-column-3,
.footer .footr-column-4 {
    width: 300px;
    padding-bottom: 20px;
}

.footer .footr-column-4 {
    position: relative;
}

.footer .footr-column-1 {
    width: 400px;
}

.footer .footr-column-1 h3 {
    width: 100%;
    font-family: var(--heading-font);
    font-size: 24px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 30px;
    letter-spacing: 4px;
    color: var(--text-base-color);
}

.footer .footr-column-1 {
    padding-top: 30px;
}

.footer .footr-column-1 h3 span {
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 8.2px;
}

.footer .footr-column-1 h3 img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-top: -10px;
    float: left;
    display: block;
}

.footer .footr-column-1 p {
    line-height: 12px;
    color: var(--text-base-color);
}

.footer .footr-column-2 {
    width: 330px;
}

.footer .footr-column-2 h4,
.footer .footr-column-3 h4 {
    margin-left: 32px;
}

.footr-column-4 form {
    position: relative;
    margin-bottom: 25px;
}

.footr-column-4 .span {
    margin-bottom: 25px;
    color: var(--text-base-color);
}

.footr-column-4 input[type="email"] {
    width: 270px;
    height: 30px;
    font-size: 14px;
    padding: 0 20px;
    background: var(--white);
    border: none;
    outline: none;
}

.footr-column-4 button {
    width: 30px;
    height: 30px;
    position: absolute;
    border: none;
    background: var(--text-base-color);
    color: var(--white);
}

.footr-column-4 button:hover {
    background: var(--brand-color);
    color: var(--white);
}

.footr-column-4 button i {
    font-size: 14px;
}

.social-links {
    position: absolute;
    bottom: 10px;
    left: -25px;
}

.footr-column-4 .social-links ul li {
    display: inline-block;
}

.footr-column-4 .social-links ul li a {
    width: 36px;
    height: 36px;
    padding: 4px 8px;
    border: 1px solid var(--text-base-color);
    color: var(--text-base-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.footr-column-4 .social-links ul li a i {
    font-size: 15px;
    line-height: 15px;
}

.footr-column-4 .social-links ul li a:hover {
    background: var(--brand-color);
    border: 1px solid var(--brand-color);
    color: var(--white);
}

.footer .footr-column-2 h4,
.footer .footr-column-3 h4,
.footer .footr-column-4 h4 {
    font-family: var(--heading-font);
    color: var(--text-base-color);
    margin-top: 80px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    position: relative;
}

.footer .footr-column-2 h4::after,
.footer .footr-column-3 h4::after,
.footer .footr-column-4 h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background: var(--brand-color);
    bottom: 0;
    left: 0;
}

.footer .footr-column-2 ul li,
.footer .footr-column-3 ul li {
    font-family: var(--font-base);
    font-size: 14px;
    list-style: none;
    line-height: 28px;
    position: relative;
}

.footer .footr-column-2 ul li a,
.footer .footr-column-3 ul li a {
    padding: 5px 0;
    text-decoration: none;
    color: var(--text-base-color);
}

.footer .footr-column-2 ul span i,
.footer .footr-column-3 ul span i {
    color: var(--brand-color);
}

.footer .footr-column-2 ul li a:hover,
.footer .footr-column-3 ul li a:hover {
    color: var(--brand-color);
}

.footer .footr-bootm {
    width: 100%;
    height: 50px;
    background: var(--brand-color);
    color: var(--white);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footr-bootm .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 270px;
}

.footer .footr-bootm .float-right {
    float: right !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    transform: translateY(8px);
}

.footer .footr-bootm ul {
    float: right !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footr-bootm ul li {
    list-style: none;
    display: inline-block;
    color: var(--white);
    font-weight: 300;
}

.footer .footr-bootm ul li a {
    display: block;
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
}

.footer .footr-bootm ul li a span {
    padding-left: 5px;
    padding-right: 5px;
    color: var(--white);
    font-weight: 300;
}

.footer .footr-bootm ul li a:hover {
    color: var(--text-base-color);
}

/* footer-section-end */

.home-page-txt {
    background-color: green;
}

.text-color-white {
    color: var(--white) !important;
}

/* footer-section-end */
