@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import "./variables.css";

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--heading-font);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}

/* section{
    margin: 0;
    padding: 0;
} */

body {
    background-color: rgb(243, 240, 240);
    /* background-image: url(../images/bg-world.png); */
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    color: #444444;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    object-fit: cover;
    object-position: center;
}

/* Header-Start */
#header{
    display: flex;
}

.header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 40;
    transition: all ease-in 200ms;
}

.header-bg {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    padding: 10px 0px;
    transition: all ease-in 200ms;
}

.header-bg.scroll {
    padding: 0;
}

.header .container,
.footer .container,
.header-content .container,
.footer .footr-bootm .container {
    width: 1150px;
    margin: 0 auto;
    display: flex;
}

.header .container h3 {
    display: inline-block;
    color: var(--white);
    font-family: var(--heading-font);
    letter-spacing: 5.2px;
    font-size: 31px;
    line-height: 17px;
    margin-top: 40px;
    transform: translateY(-20px);
}

.header-bg.scroll .container h3 {
    font-size: 25px;
    margin-top: 30px;
    transform: translateY(-10px);
}

.header .container h3 img {
    width: 65px;
    height: 65px;
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: -15px;
    transition: all ease 200ms;
}

.header-bg.scroll .container h3 img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-top: -8px;
}

.header .container h3 span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 9px;
    padding-top: 10px;
    color: var(--white);
    transition: all ease 200ms;
}

.header-bg.scroll .container h3 span {
    font-size: 9px;
    padding-top: 5px;
}

.footer .footr-column-1 h3 {
    font-family: var(--heading-font);
    font-size: 28px;
    line-height: 18px;
    margin-bottom: 10px;
    color: rgb(82, 80, 80);
}

.footer .footr-column-1 {
    padding-top: 30px;
}

.footer .footr-column-1 h3 span {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 5.2px;
}

.footer .footr-column-1 h3 img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    margin-top: -3px;
    float: left;
    display: block;
}

.header nav {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
}

.header nav a {
    color: var(--white);
    display: block;
    width: auto;
    display: inline-block;
    position: relative;
    line-height: 25px;
    padding: 0 15px;
    overflow: hidden;
}

.header nav ul li a span {
    position: relative;
    display: inline-block;
    font-weight: 500;
    transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}

.header nav ul li a span::before {
    content: attr(data-hover);
    font-weight: 600;
    color: var(--brandColor);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;

    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translateY(0, 0, 0);
}

.header nav ul li a:hover span {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
}

.header nav ul li a:hover {
    color: var(--brandColor);
    text-decoration: none;
}

.header nav ul li {
    display: inline-block;
    position: relative;
}

.header nav ul ul,
.header nav ul ul ul {
    width: 250px;
    height: 320px;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    display: block;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 80px);
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
    transition: 0.3s;
}

.header nav ul ul ul{
    width: 260px;
    height: auto;
    left: -269px;
}

.header-bg.scroll nav ul ul {
    top: calc(100% + 10px);
}

.header nav ul li:hover>ul {
    visibility: visible;
    top: 220%;
    transition: 0.3s
}

.header nav ul ul li:hover>ul {
    visibility: visible;
}

.header-bg.scroll nav ul li:hover>ul {
    top: 160%;
}

.header nav ul ul li {
    font-size: 14px;
    line-height: 31px;
    border-radius: 8px;
    display: flex;
    align-items: left;
    text-align: left;
    position: relative;
}

.header nav ul ul li a {
    text-decoration: none;
    color: black;
    padding: 6px 4px;
}

.header nav ul li i{
    font-size: 12px;
}

.margin{
    margin-left: 99px;
}
.margin-1{
    margin-left: 156px;
}
.margin-2{
    margin-left: 80px;
}
.margin-3{
    margin-left: 29px;
}


/* Header-End */

/* home-page-start */
#home{
    display: flex;
}

canvas {
    left: 45px;
    width: 1260px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 30;
}

.header-content {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: 25vh;
    z-index: 30;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}

.header-content .container {
    display: flex;
    height: 25vh;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
    background-color: var(--box-black-bg);
}

.header-content .container h1 {
    font-size: 50px;
    color: var(--white);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}

.header-content .container h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: var(--white);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}

.text {
    position: absolute;
    width: 800px;
    inset: 0;
    margin: auto;
    height: 40px;
}

.text p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.text .word {
    position: absolute;
    width: 480px;
    opacity: 0;
}

.text .letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.text .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.text .letter.behind {
    transform: rotateX(-90deg);
}

.text .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.text .red {
    color: rgb(219, 122, 122);
}

.text .wisteria {
    color: #8e44ad;
    margin-right: 5px;
}

.text .belize {
    color: #2980b9;
}

.text .pomegranate {
    color: var(--brandColor);
}

.text .green {
    color: #16a085;
}

.text .midnight {
    color: #2c3e50;
}

/* home-page-end */

/* slider-page-start */
#slider-page {
    width: 100vw;
    height: 100vh;
    margin-bottom: 20px;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 15;
}

#slider-page .container-1 {
    width: 100%;
    margin: auto;
    position: relative;
}

#slider-page .slider {
    background: rgba(0, 0, 0, 0.8);
    transition: all ease-in 200ms;
    animation-delay: 200ms;
}

#slider-page .slider img {
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    object-fit: cover;
}

.numbertext {
    position: absolute;
    font-size: 12px;
    color: #fff;
    padding: 8px 12px;
    left: 5px;
    top: 90px;
    z-index: 45;
}

.caption-text {
    position: absolute;
    font-size: 12px;
    color: black;
    padding: 8px 12px;
    width: 100%;
    bottom: 20px;
    text-align: center;
    z-index: 2;
}

#slider-page a {
    text-decoration: none;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    color: var(--brandColor);
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
}

.prev {
    left: 0;
    border-radius: 0 4px 4px 0;
}

.next {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.prev:hover,
.next:hover {
    background: var(--brandColor);
    color: #f2f2f2;
}

.dot-sect {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 55;
}

.dot-sect .dot {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: rgb(22, 22, 22);
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

#slider-page .dot-sect span:nth-child(1),
.dot:hover {
    background: var(--brandColor);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    form {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

/* slider-page-end */

/* about-start */
#about {
    background: #e6c87b;
    height: 540px;
    display: flex;
    padding-top: 60px; 
}

/* .about {
    margin-top: 35px;
} */

/* .section-bg{
    padding: 90px 0px;
} */

/* .section-bg::before {
    content: "";
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
     transform: skewY(-3deg);
    z-index: 1;
} */

.row-1 .content {
    width: 570px;

    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.row-1 .content h3 {
    font-family: var(--heading-font);
    color: gray;
    font-size: 32px;
    margin-bottom: 12px;
}

.row-1 .content p {
    font-family: var(--font-base);
    line-height: 20px;
    margin-bottom: 12px;
}

.row-1 .img-box {
    width: 530px;
    display: flex;
    padding: 20px;
    z-index: 3;
}

.row-1 .img-box .about-img {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.row-1 .img-box .about-img img {
    width: 640px;
}

.row-1 .img-box .about-img span img {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: -20px;
    opacity: 0.4;
}

/* about-end */

/* about-boxes-section-start */
#about-box {
    background-color: rgb(240, 231, 231);
    display: flex;
    justify-content: center;
}

.about-box {
    width: 380px;
    height: 570px;
    padding-top: 50px;
    margin-right: 3px;
    margin-bottom: 60px;
    position: relative;
    transition: all ease-in 200ms;
    z-index: 10;
}

.about-box .about-box-img,
.about-box .about-content {
    padding: 20px;
}

.about-box .about-box-img img {
    background: no-repeat;
    width: 335px;
    height: 188px;
    position: relative;
    object-fit: cover;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    transition: all ease-in 200ms;
}

.about-box .about-small-box {
    background: var(--white);
}

.about-box .about-small-box img {
    width: 65px;
    height: 65px;
    border: 6px solid var(--white);
    position: absolute;
    left: 150px;
    top: 225px;
    transition: all ease-in 200ms;
    z-index: 12;
}

.about-box .about-content {
    width: 335px;
    height: 265px;
    background: var(--white);
    align-items: center;
    font-family: var(--heading-font);
    transform: translateY(-30px);
    margin-left: 20px;
    z-index: 1;
}

.about-box .about-content h5 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--heading-font);
    color: gray;
}

.about-box .about-content h5 a {
    text-decoration: none;
    display: block;
}

.about-box .about-content h5 a:hover {
    color: var(--brandColor);
}

.about-box .about-content p {
    line-height: 24px;
    background: var(--white);
}

.about-box:hover .about-small-box img {
    border: 6px solid var(--brandColor);
    transition: all ease-in 200ms;
    z-index: 5;
}

/* about-boxes-section-end */

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/

#clients {
    padding-bottom: 40px;
    display: flex;
}

.clients {
    width: 100%;
    background-color: rgb(192, 190, 190);
    background-size: 100%;
    padding-top: 90px;
}

.clients .container,
#about .container {
    width: 1150px;
    height: auto;
    margin: 0 auto;
}

#client-title,
#client-title h2,
#client-title p {
    margin-bottom: 20px;
}

#client-title h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients .container .row #client-filter {
    margin-bottom: 20px;
}

.clients .container .row #client-filter li {
    display: inline-block;
    padding: 10px;
    background: #e5edf3;
    color: black;
    margin-bottom: 10px;
    text-decoration: none;
}

.clients .container .row #client-filter a {
    color: black;
    display: block;
    text-decoration: none;
}

.clients .container .row #client-filter li:hover,
.clients .container .row #client-filter li:first-child,
.clients .container .row #client-filter a:hover {
    background: var(--brandColor);
    color: white;
    text-decoration: none;
}

.clients .container .row #client-filter li:hover a {
    display: block;
    color: white;
}

.clients .container .row #client-filter {
    align-items: center;
    align-content: center;
    text-align: center;
}

#clients .container #client-title h2::after {
    content: "";
    width: 120px;
    height: 2px;
    background: var(--brandColor);
    display: block;
    position: absolute;
    left: 730px;
    top: 150px;
}

.row-1 {
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    height: auto;
    margin: 0 auto;
}

.clients .img-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    border: 1px solid var(--border-color);
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px !important;
    background: #eff1f0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.img-center {
    align-content: center !important;
    align-items: center !important;
    justify-content: center;
}

.clients .container .row .img-column .img {
    width: 200px;
    height: 100%;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.img-column .img img {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.padd-left {
    padding-left: 185px;
}

.img-column .client-info {
    width: 100%;
    height: 80px;
    background: var(--brandColor);
    font-family: var(--font-base);
    padding: 10px 10px 0px 10px;
    color: var(--white);
    position: absolute;
    bottom: -100px;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.img-column .client-info h4 {
    font-size: 21px;
    font-weight: lighter;
    font-family: var(--font-base);
    align-items: center;
    text-align: start;
    justify-content: center;
}

.line-height {
    line-height: 60px !important;
}

.img-column .client-info h4 p {
    font-size: 16px;
}

.img-column:hover img,
.img-column:focus img {
    transform: translateY(-15px);
}

.img-column:hover .client-info,
.img-column:focus .client-info {
    bottom: 0;
}

.img-column .img:hover,
.img-column .img:focus {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.img-column .client-link {
    display: inline-block;
    color: #fff;
    background: black;
    font-size: 30px;
    text-align: center;
}

.img-column .client-link a {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 60px;
}

.img-column .client-link .link-attch {
    position: absolute;
    right: 20px;
}

.no-margin {
    margin-right: 0px !important;
}

/* Clients-end */

/* contact-section-start */
#contact {
    background: rgba(0, 0, 0, 0.3);
    padding-top: 80px;
    display: flex;
    justify-content: center;
    background-image: url(../images/bg-world.png);
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.locations {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: 3px solid black;
    background: var(--brandColor);
    position: absolute;
}

.locations-1 {
    right: 246px;
    top: 430px;
}

.locations-2 {
    right: 120px;
    top: 340px;
}

.locations-3 {
    top: 578px;
    right: 319px;
}

.locations-4 {
    right: 570px;
    bottom: 730px;
}

.locations-5 {
    left: 167px;
    top: 365px;
}

.locations-6 {
    right: 310px;
    top: 255px;
}

.locations-7 {
    left: 260px;
    bottom: 651px;
}

.margin-top{
    margin-top: -50px;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 650px;
}

.contact-section .contact-sect-title {
    padding-bottom: 25px;
    position: relative;
}

.contact-section .contact-sect-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
}

.contact-section .contact-sect-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--brandColor);
    bottom: 0;
    left: calc(50% - 25px);
}

.contact-section .contact-sect-title p {
    text-align: left;
    line-height: 20px;
}

.contact-col {
    width: 570px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.contact-col .our-add {
    width: 510px;
    height: 230px;
    padding: 20px;
    margin-bottom: 5px;
    background: #fff;
    opacity: 0.9;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}

.contact-col .our-add i,
.contact-col .email-us i,
.contact-col .call-us i {
    width: 52px;
    height: 52px;
    padding: 8px;
    border-radius: 50%;
    margin-bottom: 5px;
    font-size: 32px;
    margin: 0 auto;
    border: 2px dotted #f8d4d5;
    color: var(--brandColor);
}

.bi {
    font-family: boxicons !important;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-transform: none;
    text-rendering: auto;
}

.bi-geo-alt-fill,
.bi-envelope,
.bi-telephone-forward,
.contact-col .our-add h3,
.contact-col .our-add p,
.contact-col .email-us h3,
.contact-col .call-us h3,
.contact-col .email-us p,
.contact-col .call-us p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-col .our-add h3,
.contact-col .email-us h3,
.contact-col .call-us h3 {
    font-size: 28px;
    margin-top: 5px !important;
}

.email-us,
.call-us {
    width: 255px;
    height: 230px;
    padding: 20px;
    background: #fff;
    opacity: 0.9;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}

.form {
    width: 560px;
    height: 380px;
    padding: 30px;
    background: #fff;
    opacity: 0.9;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group input,
.form-group button {
    padding: 10px 15px;
    border: 1px solid #ced4da;
    margin-bottom: 15px;
}

.form-group button {
    margin-top: 15px;
    margin-bottom: 0;
    background: var(--brandColor);
    color: #fff;
    display: block;
    margin-left: 190px;
}

.form-group input:nth-child(1) {
    margin-right: 15px;
}

.subject input {
    width: 100%;
}

.message textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ced4da;
}

/* contact-section-end */

/* about-boxes-section-start */
#food-box {
    background: #fff;
    padding-top: 110px;
}

.food-box {
    width: 380px;
    /* height: 460px; */
    padding-top: 40px;
    margin-right: 3px;
    position: relative;
}

.food-box .food-box-img,
.food-box .food-content {
    padding: 20px;
    padding-bottom: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.food-box .food-box-img img {
    background: no-repeat;
    width: 335px;
    height: 300px;
    border: 1px solid var(--border-color);
    position: relative;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0px 2px 15px rgb(0 0 0 / 40%);
    z-index: 1;
}

.food-box .food-box-img:hover,
.food-box .food-box-img:focus {
    transform: translateY(-20px);
}

.food-box .food-box-img:hover .food-content,
.food-box .food-box-img:focus .food-content {
    transform: translateY(-20px);
}

.food-box .food-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.food-box .food-content ul li {
    display: block;
    font-weight: bold;
    list-style: none;
    position: relative;
}

.food-box .food-content a {
    display: block;
    padding: 10px;
}

.food-box .food-content ul li a {
    text-decoration: none;
}

.food-box .food-content ul ul {
    display: none;
    position: absolute;
    top: -99px;
    left: 0;
    height: 100px;
    overflow: scroll;
    z-index: 2;
}

.food-box .food-content ul ul li {
    width: 250px;
    background: var(--brandColor);
    margin-bottom: 1px;
}

/* 
.food-box .food-content ul li:hover>ul {
    display: block;
    font-family: var(--font-base);
    font-weight: lighter;
} */

.food-box .food-content ul ul li a {
    color: #fff;
    display: block;
    font-family: var(--font-base);
    font-weight: lighter;
}

.food-box .food-content ul ul li a:hover {
    font-family: var(--font-base);
    font-weight: lighter;
    background: #e6c87b;
    color: #1b1423;
}

.mrgin-btm {
    margin-bottom: 50px;
}

/* food-boxes-section-end */

/*------ section-footer-start ------*/
#footer{
    display: flex;
}

.footer {
    width: 100%;
    height: 410px;
    padding-top: 40px;
    background: #1b1423;
    color: #eff1f0;
}

.footer .footr-column-1,
.footer .footr-column-2,
.footer .footr-column-3 {
    width: 550px;
    height: 400px;
}

.footer .footr-column-1 h3 {
    width: 100%;
    font-family: var(--heading-font);
    font-size: 24px;
    line-height: 16px;
    margin-bottom: 10px;
    letter-spacing: 4px;
    color: var(--white);
}

.footer .footr-column-1 {
    padding-top: 30px;
}

.footer .footr-column-1 h3 span {
    font-size: 9px;
    font-weight: normal;
    letter-spacing: 8.2px;
}

.footer .footr-column-1 h3 img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-top: -10px;
    float: left;
    display: block;
}

/* 
.footer .footr-column-1 h3::before {
    content: "";
    width: 45px;
    height: 45px;
    margin-right: 5px;
    float: left;
    display: block;
    background: #ed3237;
    position: relative;
    margin-top: -4px;
} */

.footer .footr-column-1 p {
    line-height: 22px;
    color: rgb(119, 117, 117);
}

.footer .footr-column-2 {
    padding-left: 50px;
    width: 500px;
}

.footer .footr-column-2 h4,
.footer .footr-column-3 h4 {
    font-family: var(--heading-font);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(82, 80, 80);
    margin-top: 80px;
}

.footer .footr-column-2 ul li,
.footer .footr-column-3 ul li {
    font-family: var(--font-base);
    list-style: none;
    line-height: 28px;
    position: relative;
}

.footer .footr-column-2 ul li a,
.footer .footr-column-3 ul li a {
    padding: 5px 0;
    text-decoration: none;
    color: rgb(119, 117, 117);
}

.footer .footr-column-2 ul span i,
.footer .footr-column-3 ul span i {
    color: var(--brandColor);
}

.footer .footr-column-2 ul li a:hover,
.footer .footr-column-3 ul li a:hover {
    color: var(--brandColor);
}

.footer .footr-bootm {
    width: 100%;
    height: 100px;
    margin-top: -30px;
    background: black;
    color: rgb(119, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footr-bootm .copyright {
    margin-right: 140px;
}

.footer .footr-bootm ul li {
    list-style: none;
    display: inline-block;
}

.footer .footr-bootm ul li a {
    display: block;
    text-decoration: none;
    color: rgb(119, 117, 117);
}

.footer .footr-bootm ul li a span {
    padding-left: 5px;
    padding-right: 3px;
    font-size: 20px;
    color: rgb(119, 117, 117);
}

.footer .footr-bootm ul li a:hover {
    color: var(--brandColor);
}

/* footer-section-end */

.home-page-txt {
    background-color: green;
}
/* footer-section-end */
