@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap");

:root {
    --heading-font: "Poppins", sans-serif;
    --bgColor: #79bae2;
    --headerBgColor: #444444;
    --white: #fff;
    --font-weight: 300;
    --color-bg: #eceaf0;
    --brandColor: #e3010f;
    --footer-bg: #1b1423;
    --header-button-color: darkgray;
    --footer-button-color: black;
    --footer-submit-button: #f7bd00;
    --border-color: rgba(14, 13, 13, 0.3);
    --box-black-bg: rgba(14, 13, 13, 0.5);
}
